.card {
  /* Add shadows to create the "card" effect */
  flex: 1 0 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 41, 55, 1);
  color: honeydew;
  max-width: 360px;;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Add some padding inside the card container */
.container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.contest-id{
  background-color: rgba(17, 24, 39, 1);
  padding: 4px;
  border-radius:10px 10px 0 0 ;
  text-align: center;
  font-family: monospace;
  color: rgba(156, 163, 175, 1);
}

.type {
  border: 2px solid #8de8fd;
  margin: auto;
  padding: 5px;
  border-radius: 3px;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container> div > h4{
  color: rgba(156, 163, 175, 1);
}

.entry >p, .prize >p {
   background-color:#8de8fd;
   color:black;
   text-align: center;
   border-radius: 4px;
   padding: 2px;
   font-weight: 700;
}
.playersReg{
    margin: 10px 20px;
}

.playersDetail{
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 24, 39, 1);
  padding: 10px 20px;
}

.info > div > p {
  font-size: x-small;
  text-align: center;
  color: rgba(156, 163, 175, 1);
}

.info > div > h5 {
  text-align: center;
}

.button {
  display: block;
  background-color: #4B59F7;
  color: white;
  font-family: monospace;
  border: none;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

p,
h4,
h5 {
  margin: 2px;
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 20px;
  }

  p,
  h4,
  h5 {
    margin: 1px;
  }

  .info > div > h5 {
    font-size: 12px;
    text-align: center;
  }
  .button {
    padding: 5px 0;
  }
}
