.contestCardsContainer{
    height: 100vh;
    background: #101522;
    color: white;
    padding: 20px;
}

.contestCardsContainer >p{
   text-align: center;
   font-family: monospace;
   font-size: 33px;
   
}

.contestCards{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 50px;
}

@media only screen and (max-width: 768px) {
    .contestCards{
        flex-direction:column;
        margin: 0;
        align-items: center;
    }
}