
.signIn_btn {
    align-self: flex-start;
    border-radius: 4px;
    background: #4B59F7;
    white-space: nowrap;
    padding:10px 20px;
    color: #fff;
    font-size:16px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .signIn_btn:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    background-color:#0467FB;
  }
  
  @media screen and (max-width: 768px) {
      .signIn_btn{
        font-size: 20px;
        width:70%;
      }
  }  