.home{
  overflow: hidden;
}
.header{
  padding: 160px 0;
  background:#101522 ;
  color: beige;
  position: relative;
  z-index: 1;
  border-bottom: 3px solid #4B59F7;
  
}
.headerContainer{
    z-index: 1;
  /* width: 100%; */
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.headerRow{
  display: flex;
  /* margin: 0 -15px -15px -15px; */
  flex-wrap: wrap;
  align-items: center;
  margin: 0 50px;
}

.headerColumn{
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.textWrapper{
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 0.9;
  font-weight: 600;
  color: aliceblue;
  font-family: monospace;
  
}

.textWrapper p{
  color: #a3a3a3;
  margin-bottom: 15px;
}

.imgWrapper{
  max-width: 555px;
  display: flex;
  justify-content:flex-end;
}
.headImg{
  padding-right: 0;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  max-height: 500px;
}

.joinNow_btn{
  background: transparent;
  padding: 0.375rem 0.75rem;
  border:1px solid #4B59F7;
  font-size: 1rem;
  border-radius: 5%;
  color: white;
}

.triangle1{
  position: absolute;
  left: 40%;
  top: -90px;
  height: 200px;
  transform: translateX(-90%);
  z-index: -1;
  opacity: 0.1;
}

.triangle2{
  position: absolute;
  left: -50px;
  top:  70%;
  height: 200px;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.1;
}

.circle{
  position: absolute;
  right: -100px;
  height: 200px;
  z-index: -1;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .headerContainer{
    padding-right: 30px;
    padding-left: 30px;
  }
  .headerRow{
    display: flex;
    flex-direction: column;
  }
  .headerColumn{
    max-width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  }
  
  
  .headImg{
    min-width: 300px;
  }
  .triangle1 .triangle2{
   height: 100px;
  }
  .circle{
    right: -70px;
    height: 120px;
  }
  
}